header {
  background-color: #050902;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  margin-bottom: 16px;

  h2 {
    text-align: center;
  }

  ul {
    display: flex;
    justify-content: space-evenly;

    li {
      a {
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    ul {
      margin-right: 16px;
      li {
        margin-right: 8px;
      }
    }
  }
}
